<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Sugcon.Foundation.Caching.ServicesConfigurator, Sugcon.Foundation.Caching" />
    </services>
    <events>
      <event name="publish:itemprocessed">
        <handler type="Sugcon.Foundation.Caching.Events.PublishEventHandlerRedisPurge, Sugcon.Foundation.Caching"
                 method="OnItemProcessed" />
      </event>
      <event name="publish:end">
        <handler type="Sugcon.Foundation.Caching.Events.PublishEndEventHandler, Sugcon.Foundation.Caching"
                 method="OnPublishEnd" />
      </event>
    </events>
    <settings>
      <setting name="redis" value="redis://redis:6379" />
      <setting name="scgenerator" value="http://renderinghost-Sugcon/GeneratePages" />
    </settings>
  </sitecore>
</configuration>